{% extends 'Home/header.html' %}

{% block content %}

{% include 'Home/head.html' %}

    <main>
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">{{ topic.title }}</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'Home:Home' %}">Home</a></li>
                                            <li class="breadcrumb-item"><a href="{% url 'Notes:Create' %}">Create Your Own Note</a></li> 
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>
        <!--? Blog Area Start-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
							{% for concept in concepts %}
								<h1>{{ concept.title }}</h1>
								<div><br></div>
								<h3>Definitions</h3>
									{% for definition in concept.definitions %}
										{% if definitions != None %}
											{% if definition in definitions %}
												<article class="blog_item">
													<div class="blog_details">
														<h2 class="blog-head" style="color: #2d2d2d;" id="{{ definition.term }}">{{ definition.term }}</h2>
														{% for term in definition.definitionsforterm %}
														<p>{{ term.definition_for_term|linebreaks }}</p>
														{% endfor %}
													<a href="{{ definition.save_definition }}" class="genric-btn primary-border">Save</a>
													</div>
												</article>
											{% endif %}
										{% else %}
											<article class="blog_item">
												<div class="blog_details">
													<h2 class="blog-head" style="color: #2d2d2d;" id="{{ definition.term }}">{{ definition.term }}</h2>
													{% for term in definition.definitionsforterm %}
													<p>{{ term.definition_for_term|linebreaks }}</p>
													{% endfor %}
												<a href="{{ definition.save_definition }}" class="genric-btn primary-border">Save</a>
												</div>
											</article>
										{% endif %}
									{% endfor %}
								<h3>What to know</h3>
								{% for explanation in concept.explanations %}
									{% if explanations != None %}
										{% if explanation in explanations %}
											<article class="blog_item">
												<div class="blog_details">
													<h2 class="blog-head" style="color: #2d2d2d;" id="{{ explanation.title }}">{{ explanation.title }}</h2>
													<p>{{ explanation.explanation_for_concept|linebreaks }}</p>
													{% for link in explanation.explanationlinks %}
													<p><a href="{{ link.links }}" target="_blank">Click For {{ link.title }}</a><br>
													{% endfor %}
													</p>
												<a href="{{ explanation.save_explanation }}" class="genric-btn primary-border">Save</a>
												</div>
											</article>
										{% endif %}
									{% else %}
										<article class="blog_item">
											<div class="blog_details">
												<h2 class="blog-head" style="color: #2d2d2d;" id="{{ explanation.title }}">{{ explanation.title }}</h2>
												<p>{{ explanation.explanation_for_concept|linebreaks }}</p>
												{% for link in explanation.explanationlinks %}
												<p><a href="{{ link.links }}" target="_blank">Click For {{ link.title }}</a><br>
												{% endfor %}
												</p>
											<a href="{{ explanation.save_explanation }}" class="genric-btn primary-border">Save</a>
											</div>
										</article>
									
									{% endif %}
							{% endfor %}
							{% endfor %}
							<div><br></div>
							
							<h1>Videos</h1>
								<div><br></div>
								{% for video in topic.videos %}
									{% if videos != None %}
										{% if video in videos %}
											<article class="blog_item">
												<div class="blog_details">
													<a class="d-inline-block" href="{{ video.links }}" target="_blank">
													<h2 class="blog-head" style="color: #2d2d2d;" id="{{ video.title }}">{{ video.title }}</h2>
													</a>
													<p><a href="{{ video.save_video }}" class="genric-btn primary-border">Save</a></p>
												</div>
											</article>
										{% endif %}
									{% else %}
										<article class="blog_item">
											<div class="blog_details">
												<a class="d-inline-block" href="{{ video.links }}" target="_blank">
												<h2 class="blog-head" style="color: #2d2d2d;" id="{{ video.title }}">{{ video.title }}</h2>
												</a>
												<p><a href="{{ video.save_video }}" class="genric-btn primary-border">Save</a></p>
											</div>
										</article>
									{% endif %}
								{% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form method="GET">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input type="text" name="search" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                            <div class="input-group-append">
                                                <button class="btns" type="button"><i class="ti-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                                </form>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Concepts</h4>
                                <ul class="list cat-list">
								{% for topic in topics %}
									{% if topic.grade == grade %}
                                    <li>
                                        <a href="{{ topic.my_url }}" class="d-flex">
                                            <p>{{ topic.title }}</p>
                                        </a>
                                    </li>
									{% endif %}
								{% endfor %}
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Area End -->
    </main>
{% endblock %}